# Dependências
/node_modules
/.pnp
.pnp.js

# Produção
/build
/dist
/public/build
/public/dist
/tmp
/out

# Variáveis de Ambiente
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vspscc
*.csproj

# Arquivos de Teste
/coverage

# Cache e Outros
.DS_Store
Thumbs.db
*.log
*.log.*
npm-debug.log
yarn-debug.log
.eslintcache
.stylelintcache

# MacOS
.DS_Store

# Gerenciadores de Pacote
package-lock.json # Se você usa yarn, pode ignorar
yarn.lock # Se você usa npm, pode ignorar

# Binários e Temporários
*.orig
*.swp
*.bak
*.swo

# Se você estiver usando WebStorm
.idea/